.singleInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
}

.singleInfo img {
    width: 70px;
}

.singleInfo p {
    margin: 0;
    display: block;
    font-size: 15px;
}
.singleInfo h4 {
    margin: 0
}

.active {
    background-color: #bfe4f8;
}